
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

@using (Html.BeginForm())
{
    <table class="table-bordered">
        <tr>
            <td>EmployeeId</td>
            <td>
                @Html.TextBox("emailid")
        </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Html.Password("pwd")</td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" value="Login" class="btn-btn-primary" />
        </td>
    </tr>
    <tr>
        <td>
            <span class="text-danger">@ViewData["err"]</span>
        </td>
    </tr>
        <tr>
            <td colspan="2">
            @Html.ActionLink("SignupNewUser", "Create", "Employee");
        </tr>
</table>
}